/* Keyframes Rule */
.box {
    width: 100px;
    height: 100px;
    background: tomato;
    border-radius: 10px;
  }
  
  .box:hover {
    /* animation: animation1 3s infinite alternate; */
    animation-name: animation1;
    animation-duration:3000ms;
  }
  
  @keyframes animation1 {
    0% {
      width: 100px;
    }
    75% {
      width: 500px;
      background: blue;
    }
    100% {
      width: 300px;
      background: yellow;
    }
  }

  /* timing-function, delay */
  .boxA {
    width: 150px;
    height: 100px;
    margin: 10px;
    border-radius: 10px;
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .box1 {background: yellow;}
  .box2 {background: blue;}
  .box3 {background: red;}
  
  .box1:hover {
    animation: size-up 1s 2 alternate;
    animation-timing-function: linear;
    animation-delay: 0s;
  }
  .box2:hover {
    animation: size-up 1s 2 alternate;
    animation-timing-function: linear;
    animation-delay: 1s;
  }
  .box3:hover {
    animation: size-up 1s 2 alternate;
    animation-timing-function: linear;
    animation-delay: -1s;
  }
  
  @keyframes size-up {
    0% {
      width: 150px;
    }
    100% {
      width: 500px;
    }
  }